.ml-alert {
  @apply py-2 px-4 w-full flex rounded box-border items-center text-[14px]/[20px] gap-4;

  &--danger {
    @apply text-neutral-50 bg-error-500 fill-error-100;

    &-light {
      @apply bg-error-100 text-error-800 fill-error-500;
    }
  }

  svg {
    @apply w-8 h-8 text-inherit shrink-0;
  }
}
